# Ignore Visual Studio temporary files
.vs/
*.vscode/
*.user
*.suo

# Ignore build output
bin/
obj/

# Ignore SQLite and temporary files
*.sqlite
*.vsidx
*.vscode/

# Ignore other IDE metadata
*.DS_Store
*.idea/
